.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
}
.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}
.message_usercard {
  background-color: #ddbea9 !important;
  height: 4.5rem;
}

.message_guestcard {
  background-color: #e9e9eb !important;
  height: 4.5rem;
}
